* {
  margin: 0;
}

.app, body {
  background-color: #fafafa;
}

.app_header {
  background-color: white;
  object-fit: contain;
  padding: 15px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
}